[submodule "frontend"]
	path = frontend
	url = https://github.com/wsi-cogs/frontend.git
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/wsi-cogs/backend.git
	branch = master
